body {
  text-align: center;
  font-family: arial, sans-serif;
}

button {
  height: auto;
  width: 20px;
  padding: 10px 10px;
}

#screen {
  width: 68px;
  height: 18px;
  background-color: lightgray;
  display: inline-block;
  text-align: right;
  padding: 0 5px;
}
